

@use "../variables" as *;

.MCQ-Navbar{
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding: 40px;
    padding-bottom: 0;
    .MCQ-logo{
        width: 250px;
        height: 60px;
        img{
        width: 100%;
        height: 100%;    
        }
    }
    .MCQ-sidebar{
        height: 50px;
        .MCQ-userProfile-side{
            color: white;
            position: relative;
           .MCQ-userProfile{
            display: flex;
            cursor: pointer;
            background-image:$background-color;
            height: 100%;
            border-bottom-left-radius: 10px;
            border-top-left-radius: 10px;
            border-bottom-right-radius:50px;
            border-top-right-radius: 50px;
            
                p{
                    padding: 10px;
                    line-height: 2;
                }
                .MCQ-userProfile__image{
                    width: 50px;
                    height: 50px;
                    margin: 0 5px;
                    margin-right: 0;
                    border-radius: 50%;
            
                img{
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    }
                }
            }
            
            .MCQ-userProfile__options{
                display: none;
                cursor: pointer;
                background-image: $background-color;
                padding: 20px;
                margin-top: 10px;
                border-radius: 10px;
                
                .editOption{
                text-align: center;
                padding: 10px;
                a{
                    text-decoration: none;
                    color: white;
                    &:hover{
                        color: rgb(210, 210, 210);
                    }
                }
                }
                .logoutOption{
                    z-index: 10;
                    @extend .editOption;
                    
                    
                }
            }
    .MCQListPage{
        background-color: $plain-background;
        width: 100%;
        height: 100vh;
        
               
            }
               
            }  
            .MCQ-userProfile__leaderBoard{
                margin: 10px 0;
                @include flexContent;
                height: 100%;
                width: 100%;
                // background-color: aqua;
                div{
                    cursor: pointer;
                    text-decoration: none;
                    color: $button-color;
                    transition: 0.5s;
                    &:hover{
                        text-decoration: 2px underline solid $button-color;
                    }
                }
    
                img{
                    margin-left: 10px;
                    width: 30px;
                    height: 30px;
                }
               }
    }
   
}

.MCQ-sidebar .MCQ-userProfile-side:hover .MCQ-userProfile__options{
    display: block;
}