@use "../variables" as *;



@mixin circleSize300px(){
@media(max-width:300px){
    width: 70%;
    height: 70%;
    background-color: rebeccapurple;
}
}

.resultPage{
    
    // margin-top: 70px;
    width: 100%;
    height: 85vh;
    box-sizing: border-box;
    padding:  50px 300px;
    // background-color: aquamarine;
    // position: relative;
    // @include flexContent;
    // flex-direction: column;
    .result__title{
        margin: 10px 100px;
        margin-bottom: 50px;
        // background-color: aqua;
        font-size: 27px;
        // width: 100%;
        color:$button-color;
    }
    .resultPage__body{
        @include flexContent;
        justify-content: space-evenly;
        .resultPage__body_list{
            width: 300px;
            p{
                 color:$button-color;
                 font-size: 24px;
            }
            ul{
                margin-left: 50px;
                li{
                    margin: 30px 0;
                    &::marker{
                    
                        color:$button-color;
                        
                    }
                }
            }
            
        }
        .resultPage__body_image{
            width: 300px;
            height: 300px;
            // margin-left: 200px;
            position: relative;
            @include flexContent;
            // background-color: aquamarine;
            .resultPage_value{
                position: absolute;
                font-size: 40px;
                z-index: 6;
            }
            .resultPage__body_circle{
                position: absolute;
                width: 250px;
                height: 250px;
                
                border-radius: 50%;
                background-color: $button-color;
                // background: conic-gradient($button-color 50deg ,$form-text-color 50deg);
                // border: 10px solid $button-color;
                // position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                @include circleSize300px();

            }
            .resultPage__body_circle::before{
                content: "";
                position: absolute;
                width: 88%;
                height: 88%;
                border-radius: 50%;
                background-color: $form-background;

            }
        }
    }
.back_button{
    // padding: 20px;
    position: absolute;
    left: 30px;
    bottom: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    background-color: #2190F5;
    color:white;
    @include flexContent();
    &:hover{
        // box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        cursor: pointer;
    }
}
}
@media (max-width:1100px){
    .resultPage{
        padding:30px;
        .result__title{
            text-align: center;
            // width: 100%;
            margin:10px;
            margin-bottom: 50px;
        }
        .resultPage__body{
            .resultPage__body_list{
                text-align: center;
            }
            flex-direction: column-reverse;
            .resultPage__body_image{
                margin-left: 0;
              
            }
        }
    }
}
// .resultPage{
    
//     // margin-top: 70px;
//     width: 100%;
//     height: 85vh;
//     box-sizing: border-box;
//     padding:  50px 300px;
//     background-color: aquamarine;
//     position: relative;
//     // @include flexContent;
//     // flex-direction: column;
//     .result__title{
//         margin: 10px 100px;
//         // background-color: aqua;
//         font-size: 27px;
//         color:$button-color;
//     }
//     .resultPage__body{
//         @include flexContent;
//         .resultPage__body_list{
//             width: 300px;
//             p{
//                  color:$button-color;
//                  font-size: 24px;
//             }
//             ul{
//                 margin-left: 50px;
//                 li{
//                     margin: 30px 0;
//                     &::marker{
                    
//                         color:$button-color;
                        
//                     }
//                 }
//             }
            
//         }
//         .resultPage__body_image{
//             width: 300px;
//             height: 300px;
//             margin-left: 200px;
//             position: relative;
//             @include flexContent;
//             // background-color: aquamarine;
//             .resultPage_value{
//                 position: absolute;
//                 font-size: 40px;
//                 z-index: 6;
//             }
//             .resultPage__body_circle{
//                 position: absolute;
//                 width: 250px;
//                 height: 250px;
//                 border-radius: 50%;
//                 background-color: $button-color;
//                 // background: conic-gradient($button-color 50deg ,$form-text-color 50deg);
//                 // border: 10px solid $button-color;
//                 position: relative;
//                 display: flex;
//                 align-items: center;
//                 justify-content: center;

//             }
//             .resultPage__body_circle::before{
//                 content: "";
//                 position: absolute;
//                 width: 88%;
//                 height: 88%;
//                 border-radius: 50%;
//                 background-color: $form-background;

//             }
//         }
//     }
// .back_button{
//     position: absolute;
//     left: 30px;
//     bottom: 30px;
//     width: 30px;
//     height: 30px;
//     border-radius: 50%;

// }
// }